.race_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: var(--colour-light);
    border: 2px solid var(--colour-accent);
    width: 100%;
    min-height: 4rem;
}

.card_heading_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.card_footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 0 1.5rem;
}

.timerText {
    color: green;
}
.timerTextOT {
    color: red;
}
